albumentations==1.3.1
azureml==0.2.7
chumpy==0.70
einops==0.7.0
matplotlib==3.7.1
mediapipe
numpy==1.23.5
omegaconf==2.1.1
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
Pillow==9.4.0
pytorch_lightning==1.4.2
pytorch_pretrained_bert==0.6.2
safetensors==0.3.3
scipy==1.9.0
timm==0.6.13
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
transformers==4.27.4
trimesh[easy]==3.23.5
yacs==0.1.8

# If encounter any error, please see ControlNet and MeshGraphormer for more complete package requirements.
